<p ng-hide="file.blob">
    File: {{file.name}}
</p>
<p ng-show="file.blob">
    File: <a ng-click="download()">{{file.name}}</a> (click to download)
</p>
<p>
    Size: {{file.size / (1024 * 1024) | round}} MB
</p>
<div class="progress" ng-hide="file.blob">
    <div class="progress-bar"
         role="progressbar"
         aria-valuenow="{{file.progress}}"
         aria-valuemin="0"
         aria-valuemax="100"
         style="width: {{file.progress}}%;">
        {{file.progress}}%
    </div>
</div>