<html ng-app="droppy">
    <head>
        <title>Droppy</title>
        
        <base href="/">
        
        <link rel="stylesheet" href="/external/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/external/bootstrap/css/bootstrap-theme.min.css" type="text/css" />
        
        <style type="text/css">
            .panel-headers {
                padding-bottom: 0px;
            }

            a[ng-click] {
                cursor: pointer;
            }
            
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
        </style>

        <script type="text/javascript">
            if (window.location.protocol != "https:") {
                window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
            }
        </script>
    </head>
    <body ng-controller="droppyController">
        <div droppy-upload d-change="uploadChange" ng-hide="true"></div>
        <div class="container" role="main">
            <div class="page-header">
                <h1>Droppy</h1>
            </div>
            <div class="alert alert-info ng-cloak" role="alert" ng-cloak ng-show="room.count < 2">
                There are no other users connected. To transfer files, please have another user connect to your address first, then drag files anywhere on this page to transfer.
            </div>
            <div class="alert alert-success ng-cloak" role="alert" ng-cloak ng-show="room.count == 2">
                <b>Success!</b> One other user is connected.
            </div>
            <div class="alert alert-warning ng-cloak" role="alert" ng-cloak ng-show="room.count > 2">
                <b>Warning!</b> There are {{room.count - 1}} other users connected. Please ensure that only those that should receive transmitted files are connected.
            </div>
            <p ng-show="room.id" ng-cloak class="ng-cloak">
                <b>Your Address:</b>
                <span><a href="https://{{host}}/r/{{room.id}}#{{key}}">https://{{host}}/r/{{room.id}}#{{key}}</a></span>
            </p>
            <div class="page-header" id="email-header">
                <h2>Files</h2>
            </div>
            <ul ng-cloak class="list-group ng-cloak">
                <li droppy-file class="list-group-item" ng-repeat="file in files | reverse" d-file="file"></li>
            </ul>
            <footer class="footer">
                <p>&copy; 2015 <a href="http://www.petris.net/">Ryan Petris</a>.</p>
                <p>Source Available on <a href="https://gitlab.com/petris/droppy">GitLab</a>.</p>
            </footer>
        </div>

        <script type="text/javascript" src="/external/jquery/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/external/base62js/jquery.base62.js"></script>
        <script type="text/javascript" src="/external/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/external/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="/external/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="/external/Blob.js/Blob.js"></script>
        <script type="text/javascript" src="/external/FileSaver.js/FileSaver.js"></script>
        <script type="text/javascript" src="/external/forge/forge.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/modules/droppy.js"></script>
        <script type="text/javascript" src="/config/droppyConfig.js"></script>
        <script type="text/javascript" src="/controllers/droppyController.js"></script>
        <script type="text/javascript" src="/directives/droppyFile.js"></script>
        <script type="text/javascript" src="/directives/droppyUpload.js"></script>
        <script type="text/javascript" src="/filters/general.js"></script>
        <script type="text/javascript" src="/services/droppyCrypto.js"></script>
        <script type="text/javascript" src="/services/droppyDownload.js"></script>
        <script type="text/javascript" src="/services/droppySocket.js"></script>
        <script type="text/javascript" src="/services/droppyUpload.js"></script>
        <script type="text/javascript" src="/services/general.js"></script>
    </body>
</html>
